extends layout

block content
  if state
    a.btn.btn-outline-primary.btn-block.mb-3(href='/new') Add Message

  if messages
    each message in messages
     div.card
      div.card-body.text-white.bg-primary
        h5.card-title #{message.title}
        p.card-text #{message.content}
      div.card-footer.text-white.bg-dark #{messages.author}  
      div.card-footer.text-white.bg-dark #{moment(messages.added).format('LLLL')}
  else
    div.card.text-white.bg-dark
      h3.card-header  Looks so empty
      if !state
        div.card-body 
          a(href='/login').class-primary Login 
          | and start writing messages now. 
          a(href='/signup') Signup 
          | if you are new here.
      else
        div.card-body Click the Add Message button and post a new message.